.background{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative
}

.light{
    background-image: url("../assets/images/day.jpg");
}

.dark{
    background-image: url("../assets/images/night.jpg");
}

.check{
    transform: rotate(90deg);
    position: absolute;
    bottom: 50px;
    left: 10px;
}