<app-header></app-header>
<div class="container">
    <h2>Select a team</h2>
    <select>
        <option *ngFor="let trainer of teamList" value = {{trainer}} (click) = "showTeam(trainer)">
          {{trainer.name}}
        </option>
    </select>

    <div class="team" *ngIf = "selectedTeam.id != 0">
        <div class="pokemon p{{i}}" *ngFor = "let pokemon of selectedTeam.teamMates; let i = index" (click) = "showOrHideStats(pokemon)">
          <div class="img">
            <img [src]="pokemon.animation != null ? pokemon.animation : pokemon.sprite">
          </div>
            
          <div class="details" *ngIf = "pokemon.showingStats">
            <h2>{{pokemon.name}}  </h2>
            <button (click) = "removePokemon(pokemon, i)">x</button>
            <p>Hp: {{pokemon.hp}}</p>
            <p>Attack: {{pokemon.attack}}</p>
            <p>Defense: {{pokemon.defense}}</p>
            <p>Special Attack: {{pokemon.spAttack}}</p>
            <p>Special Defense: {{pokemon.spDefense}}</p>
            <p>Speed: {{pokemon.speed}}</p>
          
          </div> 
        </div> 
        <button [disabled] = "selectedTeam.teamMates.length > 5" (click) = "openDialog()"></button>
    </div>
</div>
