.container{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

.page{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 10px;
    background-color: #CBD9E8;
    align-items: center;
}

.currentProfile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 25vw;
    height: 25vw;
    border-radius: 25vw;
    margin-right: 10px;
    overflow: hidden;
    justify-self: center;
}

.currentProfile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page h1, .page p{
    grid-column-start: 2;
    grid-column-end: 4;
}

.entry{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.card{
    position: relative;
    background-color: #fddab4;
    width: max-content;
    justify-self: center;
}

.card h2{
    margin: 10px;
}

.cardImage{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #3D6B9B;
    background-color: #e75d6e;
    padding: 0;
}