.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    font-size: 10px;
    min-width: 320px;
}

.page{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 10px;
    background-color: #6D23B6;
    align-items: center;
}

.currentProfile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 15vw;
    min-width: 130px;
    height: 15vw;
    min-height: 130px;
    border-radius: 15vw;
    margin: 10px;
    overflow: hidden;
    justify-self: center;
}

.currentProfile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page h1, .page p{
    grid-column-start: 2;
    grid-column-end: 4;
}

.entry{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.card{
    position: relative;
    background-color: #C05299;
    width: max-content;
    justify-self: center;
    margin-bottom: 10px;
}

.card h2{
    margin: 10px;
}

.cardImage{
    width: 20vw;
    height: 20vw;
    min-width: 80px;
    min-height: 80px;
    overflow: hidden;
}

.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #3D6B9B;
    background-color: #EA698B;
    padding: 0;
}

.addingButton button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 5px solid #3D6B9B;
    border-radius: 5vw;
    background-color: #EA698B;
    width: 5vw;
    height: 5vw;
    min-width: 33px;
    min-height: 33px;
    font-size: 10px;
}