<div class="container">
    <div class="index">
        <div class="entry" *ngFor = "let entry of entryList" (click) = "showPokemon(entry)">
           <img src={{entry.sprite}}> 
           <p>{{entry.name}}</p>
        </div>
        <button [disabled] = "entryList[0].pokedexId == 1" (click) = "getTenEntries(entryList[0].pokedexId - 11)">previous</button>
        <button [disabled] = "entryList[entryList.length - 1].pokedexId == 802" (click) = "getTenEntries(entryList[entryList.length - 1].pokedexId + 1)">next</button>
    </div>

    <div class="page">
        <img src={{showingPokemon.artwork}}>
        <h1>{{showingPokemon.pokedexId}} {{showingPokemon.name}}</h1>
        <p>Weight: {{showingPokemon.weight}} kg Height: {{showingPokemon.height}} m</p>
        <p>Type:</p>
        <p *ngFor = "let type of showingPokemon.types">{{type}}</p>
        <p>{{showingPokemon.description}}</p>
    </div>
</div>
