<app-header></app-header>
<div class="container">
    <div class="index">
        <button [disabled] = "entryList[0].pokedexId == 1" (click) = "getTenEntries(entryList[0].pokedexId - 11)">&#708;</button>
        <div class="entry" *ngFor = "let entry of entryList" (click) = "showPokemon(entry)">
           <img src={{entry.sprite}}> 
           <p>{{entry.name}}</p>
        </div>
        <!-- <div class="buttons"> -->
            <button [disabled] = "entryList[entryList.length - 1].pokedexId == 802" (click) = "getTenEntries(entryList[entryList.length - 1].pokedexId + 1)">&#709;</button>
        <!-- </div> -->
        
    </div>

    <div class="page">
        <img src={{showingPokemon.artwork}}>
        <h1>{{showingPokemon.pokedexId}}. {{showingPokemon.name}}</h1>
        <div class="physical">
            <h4>Weight:</h4>
            <p>{{showingPokemon.weight}} kg</p>
            <h4>Height:</h4>
            <p>{{showingPokemon.height}} m</p>
        </div>
        <div class="type">
            <h4>Type:</h4>
            <button *ngFor = "let type of showingPokemon.types" class="{{type}}">{{type}}</button>
        </div>
        <h4>Description:</h4>
        <p>{{showingPokemon.description}}</p>
    </div>
    <div class="addingButton">
        <button (click) = "openDialog()">
            Search
        </button>
    </div>
</div>
