.container{
    display: flex;
    justify-content: center;
    direction: row;
    padding: 10px;
    background-color: #6d23b6b6;
    margin-bottom: 10px;
    min-width: 390px;
}

button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #3D6B9B;
    margin: 10px;
    font-size: 8px;
}

.pokedex{
    background-color: #EA698B;
  }
  
  .teams{
    background-color: #D55D92;
  }
  
  .trainers{
    background-color: #C05299;
  }