/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    background-color: #8d00a4;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
color: white;}

button, select, .container, mat-label, input, .mat-error, a{
    color: white;
}
